
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form method="post">
{% csrf_token%}
     <!-- {{form}} -->
<!-- --------------------  -->
<!-- app I stydent I Can add stydent -->
{% if perms.app.add_stydent %}
     {% for field in form %}
    <div class="fieldWrapper">
         {{ field.label_tag }} {{ field }}
        {{ field.errors }}
       <hr>
    </div>
     <input type="submit" value="submit">
{% endfor %}
{% else %}
<h1>sssss</h1>
{{ user.groups.all|join:"," }}
<hr>
{{ user.groups.all.0.name }}
<hr>
{{perms.}}
<hr>
{{  perms.app.add_stydent }}
 {% endif %}


 <!-- --------------------- -->
    <!-- https://docs.djangoproject.com/en/5.2/howto/custom-template-tags/ -->
   </form>
   {{  perms }}
</body>
</html>