<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome To GFG</h2> 
    <p>Default code has been loaded into the Editor.</p> 
    <form method="post" > 
        {% csrf_token %}
    <table>
        <tr>
          <th>x1</th>
          <th>x2</th>
          <th>x3</th>
        </tr>
      
        <tr>
          <td> <input type="text" id="name" name="x11" /> </td>
          <td> <input type="text" id="name" name="x21"/> </td>
          <td> <input type="text" id="name" name="x31"/> </td>
        </tr>
        <tr>
            <td> <input type="text" id="name" name="x12" /> </td>
            <td> <input type="text" id="name" name="x22"/> </td>
            <td> <input type="text" id="name" name="x32"/> </td>
        </tr>
       
         
    </table> 
    <input type="submit" id="ss" />
</form>


    
   <!-- <table> 
        <form> 
            <tr> 
                <td> 
                    <label for="name"> 
                        Name 
                    </label> 
                </td> 
                <td><input type="text" id="name" /> 
                </td> 
            </tr> 
            <tr> 
                <td><label for="email"> 
                        Email 
                    </label> 
                </td> 
                <td><input type="email" id="email" /> 
                </td> 
            </tr> 
            <tr> 
                <td><label for="telnum"> 
                        Tel No. 
                    </label> 
                </td> 
                <td><input type="telnum" id="telnum" /> 
                </td> 
            </tr> 
            <tr> 
                <td><label for="Roll No."> 
                        Roll No. 
                    </label> 
                </td> 
                <td><input type="number" id="rollno" /> 
                </td> 
            </tr> 
        </form> 
    </table>   -->
</body>
</html>